<div class="row">
  <h2>Experiencia</h2>
  <div class="col-lg-2">
    <button
      type="button"
      class="fa-solid fa-plus"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Agregar
    </button>
  </div>
  <div class="col lg 1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <div class="col-xs-6 col-lg-2"></div>
          <div class="col-xs-6 col-lg-8">
            <h3>{{ Experiencia.nombreE }}:</h3>
            <h4>{{ Experiencia.descripcionE }}</h4></div>
          <td *ngIf="isLogged">
            <button
              class="btn btn-light"
              routerLink="/editexp/{{ Experiencia.id }}">
              <i class="fa-solid fa-pencil"></i>
            </button></td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-light"
              (click)="delete(Experiencia.id)">
            <i class="fa-solid fa-trash-can"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>