<article class="article">
    <h2>Experiencia
        <div class="agregar-btn">
            <a href="#" class="agregar-btn"><i class="fa-solid fa-plus"></i></a>
        </div>
    </h2>
        <div class="edit-btn-right">
            <a href="#" class="edit-btn-right"><i class="fa-solid fa-pencil"></i></a>
        </div>
        <ul class="lista-elementos">
            <li  style="list-style-type: none" *ngFor="let experiencia of experienciasList">
                <p><span><b>{{experiencia.lugar}}</b>: </span>{{experiencia.puesto}}</p>
                <p>{{experiencia.tareas}}</p>
                <p><b>Desde: </b>{{experiencia.inicio}}</p>
                <p><b>Hasta: </b>{{experiencia.fin}}</p> 
                <br>       
            </li>
        </ul>
    </article>
