
.yoProgramo{
    color: antiquewhite
}
.articleEducacion{
    color: #AD8B73;
    background-color: #fdf8ed;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #9A86A4;
    border-radius: 10px;
    margin:10px;
    padding-left: 12px;
}

.lista-elementos{
    color: #AD8B73;   
    
}





