<article class="articleEducacion">
    <h2>Educación
        <div class="agregar-btn">
            <a href="#" class="agregar-btn"><i class="fa-solid fa-plus"></i></a>
        </div>
    </h2>
    
    <div class="edit-btn-right">
        <a href="#" class="edit-btn-right"><i class="fa-solid fa-pencil"></i></a>
    </div>
    <ul class= "lista-elementos" >
        <li style="list-style-type: none" *ngFor="let educacion of educacionList">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img class="logo-educ" [src]="educacion.imagen">
                    </div>
            
                    <div class="col-10">
                        <h3>{{educacion.titulo}}</h3>
                        <h4>{{educacion.escuela}}</h4>
                        <p><span><b>Conocimientos: </b></span>{{educacion.carrera}}</p>
                        <p><span><b>Inicio: </b></span>{{educacion.inicio}}</p>
                        <p><span><b>Finalización: </b></span>{{educacion.fin}}</p>
                        <br>
                    </div>
                </div>    
            </div>
        </li>
    </ul>      
</article>
