<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-2">
        <button
          type="button"
          class="fa-solid fa-plus"
          routerLink="/nuevaedu"
          *ngIf="isLogged"
        >
          Nueva Educación
        </button>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educ">
                    <td><h3>{{Educacion.titulo}}:</h3></td>
                    <td><h4>{{Educacion.institucion}}</h4></td>
                    <td><h4>{{Educacion.conocimientos}}</h4></td>
                    <td><h4>{{Educacion.inicio}}</h4></td>
                    <td><h4>{{Educacion.fin}}</h4></td>
                    <td *ngIf="isLogged">
                        <button
                          class="btn btn-light"
                          routerLink="/editeduc/{{Educacion.id}}"
                        >
                          <i class="fa-solid fa-pencil"></i> Editar
                        </button>
                      </td>
                      <td *ngIf="isLogged">
                        <button
                          class="btn btn-light"
                          (click)="delete(Educacion.id)"
                        >
                        <i class="fa-solid fa-trash-can"></i> Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
         
</div>
