<article class="article">
    <img class="portada" src="" width="1327" height="250" alt="teclado">
    <div class="foto-perfil">
       <img [src]="" widht="200" height="200" alt=""> 
    </div>
    <div class="change-pic">
        <a href="#" class="0.3"><i class="fa-solid fa-image-portrait fa-xl"></i></a>
    </div> 
    <div class="edit-btn-right">
        <a href="#" class="edit-btn-right"><i class="fa-solid fa-pencil"></i></a>
    </div> 
    
    <br>
    <br>
    <br>
    <br>
    <h2>{{persona.nombre}} {{persona.apellido}}</h2>
    <p>{{persona.descripcion}}</p>
    
    
</article> 
