:root{
    --bs-warning-rgb: #9A86A4;
    font-family: 'Poppins', sans-serif;
}
.progress{    
    background-color: #9A86A4;    
    max-width: 30em;       
    
}

.progress-bar {
    background-color: #7C3E66;
  }

