<article class="article">
    <h2>Hard & Soft Skills<div class="agregar-btn">
        <a href="#" class="agregar-btn"><i class="fa-solid fa-plus"></i></a>
    </div></h2>
    
    <div class="edit-btn-right">
        <a href="#" class="edit-btn-right"><i class="fa-solid fa-pencil"></i></a>
    </div>
    <label for="file"><p>Comunicación Asertiva:</p></label>
    <progress id="file" max="100" value="80">80% </progress>

    <label for="file"><p>Iniciativa:</p></label>
    <progress id="file" max="100" value="70"> 70% </progress>
    
    <label for="file"><p>Persistencia:</p></label>
    <progress id="file" max="100" value="70"> 70% </progress>        
</article>
