<header id="titulo">
    <div class="left">
        <img class="logoAP" src="./assets/imagenes/APLogo-20-20.png" alt="" width= "40px" height="20px">
        <div class="yoProgramo"><h3>#YoProgramo</h3></div>
    </div>
    <div class="right">
        <a href="Login">Login</a>
    </div>
           
    <div class="right">
        <a target="_blank" href="https://github.com/RamirezVero">GitHub</a>
    </div>
    <div class="right">
        <a target="_blank" href="https://www.linkedin.com/in/ver%C3%B3nica-ramirez-b6768b240/">LinkedIn</a>
    </div>
    <div class="right">
        <a target="_blank" href="https://www.instagram.com/vreckz/">Instagram</a>
    </div>
    
    
</header>
