body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.change-pic{
    margin-left: 10px;
    display: inline;    
    color: #7C3E66;

}
.edit-btn-right{
    margin-right: 15px;
    float: right;
    color: #7C3E66;
}
.agregar-btn{
    margin-left: 10px;
    display: inline;    
    color: #7C3E66;
}

p{
    padding-left: 20px;
    color: #AD8B73;

}
span{
    font-style: italic;
}
.left{     
    display: inline;    
    color: #9A86A4;
}
.portada{
    display: inline
}


h2{
    padding: 20px;
}

.article{
    color:#AD8B73;
    background-color: #fdf8ed;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #9A86A4;
    border-radius: 10px;
    margin: 10px;
    
}




