body{
    margin: 0;
}

.change-pic{
    margin-left: 10px;
    display: inline;    
    color: #7C3E66;

}
.edit-btn-right{
    margin-right: 15px;
    float: right;
    color: #7C3E66;
}
.agregar-btn{
    margin-left: 10px;
    display: inline;    
    color: #7C3E66;
}
.logoAP{
    width: 110px;
    height: 70px;  
    float: left;
}
.yoProgramo {   
    padding-top: 9px;    
    color: whitesmoke;
    position: absolute;
    left: 115px;
}

.portada{    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    max-width: auto;
    max-height: 300px; 
    justify-content: center;
}

.foto-perfil{
    width: 200;
    height: 200;
    overflow: hidden;   
    border: 3px solid #7C3E66;  
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 200px;
}

p{
    padding-left: 20px;
    color: #AD8B73;

}
span{
    font-style: italic;
}
.left{     
    display: inline;    
    color: #9A86A4;
}
.portada{
    display: inline
}

.right{
    position: relative;
    right: 15px;
    padding-top: 20px;
    float: right;  
    color: #6496b8;
    margin: 5px;
    
}
.right a{
    transition: color 0.4s ease;
    color: #f7f1e9;
    text-decoration: none;    
}
.right a:hover{
    color: #9A86A4;
}
h2{
    padding: 20px;
}

.article{
    color:#AD8B73;
    background-color: #fdf8ed;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #9A86A4;
    border-radius: 10px;
    margin: 10px;
    
}




